/* Paraisopolis Logo Brand */
.navbar-brand-logo {
	height: 100px !important;
}

/* Carousel */
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	margin: 0 auto;
}

/* Publicity */
.publicity-small {}
.publicity-medium {}
.publicity-large {
	padding: 20px 0px;
}

.thumbnail {
	padding: 0px !important;
}

.caption {
	padding: 10px 10px 10px 20px !important;
	border-left: 10px solid green;
}


.thumbnail .caption h3, p {
	margin: 0px !important;
}

/* ClearFix's */
.clear-margin {
	margin: 0px !important;
}