/* Paraisopolis Logo Brand */
.navbar-brand-logo {
	height: 100px !important;
}

/* Color Pallete */

.yellow {
	color: #FEEE1D;
}

.orange {
	color: #DDA603;
}

.red {
	color: #F4432F;
}

.purple {
	color: #A84699;
}

.blue {
	color: #1DAEE3;
}

.foto-video {
	color: #30AF22;
}

/* Menu Bar */

/* Menu Bar colors */

.espaco-povo {
	border-bottom: 4px solid #FEEE1D;
}

.radio-paraisopolis {
	border-bottom: 4px solid #DDA603;
}

.multientidades {
	border-bottom: 4px solid #F4432F;
}

.urbanizacao {
	border-bottom: 4px solid #A84699;
}

.publicacoes {
	border-bottom: 4px solid #1DAEE3;
}

.foto-video {
	border-bottom: 4px solid #30AF22;
}


/* Carousel */
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	margin: 0 auto;
}

/* Publicity */
.publicity-small {}
.publicity-medium {}
.publicity-large {
	padding: 20px 0px;
}

.thumbnail {
	padding: 0px !important;
	overflow: hidden;
	border-radius: 0px !important;
}

.caption-left {
	margin-left: 164px;
}

.caption-espaco-povo {
	border-left: 4px solid #FEEE1D;
}

.caption-radio {
	border-left: 4px solid #DDA603;
}

.caption-multientidade {
	border-left: 4px solid #F4432F;
}

.caption-urbanizacao {
	border-left: 4px solid #A84699;
}

.thumbnail .caption h3, h2, p {
	margin: 0px !important;
}

/* ClearFix's */
.clear-margin {
	margin: 0px !important;
}